<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Boostrap 4.0.0-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--Boostrap JS-->
    <script src="code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--JQuery para leer API-->
    <script type="text/javascript">
        $(document).ready(function(){
            $("#enviar").click(function(){
                $.get("http://www.themealdb.com/api/json/v1/1/categories.php",
                function(data){
                    $.each(data.categories, function(i, item){
                        $("#categorias").append("<tr><td>" + item.idCategory + 
                            "</td><td>" +item.strCategory+
                            "</td><td><img src='"+item.strCategoryThumb+"'>"+
                            "</td><td>"+item.strCategoryDescription+"</td><tr>");
                    });
                });
            });
        })
    </script>
    <title>Base de datos</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h3>Traer datos</h3>
        </div>
        <div class="row">
            <button type="button" class="btn btn-primary" id="enviar">Traer Datos</button>
        </div>
        <div class="row">
            <table class="table table-bordered" id="categorias">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Descripción</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    
</body>
</html>