<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
    <link rel="stylesheet" href="css/estilosecundario.css">
	<title>Ground Zero</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <style type="text/css">
    *{
        box-sizing: border-box;
    
    }
    .gallery{
        border: 1px solid #ccc;
    }   
    .gallery img{
        width: 100%;
        height: auto;
    } 
    .des{
        padding:15px;
        text-align: center;
    } 
    .responsive{
        padding: 0 6px;
        float: left;
        width: 25%;
    }
    @media only screen and (max-width: 700px){
        .responsive{
            width: 50%;
            margin:6px 0;

        }
    }
    @media only screen and (max-width: 500px){
        .responsive{
            width: 100%;

        }
    }
    </style> <!--esto es new lo de aarriba-->

</head>
<body>
    <div>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a href="index.html" class="navbar-brand">Inicio</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="galeria.html" class="nav-link">Galeria</a>
                    </li>
                    <li class="nav-item">
                        <a href="artistas.html" class="nav-link">Artistas</a>
                    </li>
                    <li class="nav-item">
                        <a href="concepto.html" class="nav-link">Concepto</a>
                    </li>
                    <li class="nav-item">
                        <a href="login.html" class="nav-link">Iniciar Sesi&oacute;n</a>
                    </li>
                </ul>
            </div>					
        </nav>
    </div>
    <div>

    <h1>Conceptos</h1>

    <div class="responsive">
        <div class="gallery">
            <a href="img/art1.jpg" target="_blank"><img src="img/13.png" width="300" height="200"></a>
            <div class="des"> "Surrealista"</div>

        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a href="img/art2.jpg" target="_blank"><img src="img/14.png" width="300" height="200"></a>
            <div class="des"> "Abstracto"</div>

        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a href="img/art3.jpg" target="_blank"><img src="img/15.png" width="300" height="200"></a>
            <div class="des"> "Realismo"</div>

        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a href="img/art4.jpg" target="_blank"><img src="img/16.png" width="300" height="200"></a>
            <div class="des"> "Expresionista"</div>

        </div>
    </div> 

    </div>
    <div class="pie_pagina">
        <h4>Contactos página:</h4>
        <p>Número:+56982732277</p>
        <p>Instagram: Ground Cero</p>
        <p>Facebook:Ground CEro</p>
        <lu>
            <a href="contacto.html" class="">Atenci&oacute;n al cliente/Contactenos</a>
        </lu>
    </div>
    <div>
	    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
	    <script src="js/app.js"></script>
	    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    </div>
</body>
<footer>
</footer>