body {
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
  }


  .contenedor__galeria{
    margin-bottom: 50px;
	  display: flex;
	  align-items: center;
  }

  .contenedor__foto{
    flex-shrink: 1; border: black 1px solid; margin: 2px;
    height:0px;
    width:100%;
    padding-top:56.25%;
    position:relative;
    
  }
  .contenedor__foto img{
    position:absolute;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
  }
  

  .atras__button {
    width: 70px;
    height: 30px;
    background: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
  }
  
  .login-box {
    width: 320px;
    height: 420px;
    background: rgb(250, 250, 250);
    color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }
  
  .login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }
  
  .login-box h1, .register-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
  }
  
  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(55, 0, 255);
  }
  
  .login-box a:hover {
    color: rgb(0, 0, 0);
  }

  .pie_pagina {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
  }
  .pie_pagina>*:first-child {
    align-self: stretch;
  }
  .pie_pagina .selected {
    align-self: center;
  }

  /*registr*/
  .register-box {
    width: 320px;
    height: 530px;
    background: rgb(250, 250, 250);
    color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }

  .register-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }

  .register-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 20px;
  }

  .register-box input[type="reset"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 20px;
  }

  .register-box input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }

  .register-box input[type="reset"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }

  .register-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }

  .register-box input[type="text"], .register-box input[type="password"], .register-box input[type="date"] {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
  }
/*contacto*/
  .contacto-box input[type="text"], .contacto-box input[type="password"] {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
  }
/*subir obra*/

.obra-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: rgb(255, 255, 255);
  font-size: 18px;
  border-radius: 20px;
}

.obra-box input[type="reset"] {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: rgb(255, 255, 255);
  font-size: 18px;
  border-radius: 20px;
}

.obra-box input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.obra-box input[type="reset"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.obra-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.obra-box input[type="text"], .obra-box input[type="date"] {
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  background: transparent;
  outline: none;
  height: 40px;
  color: rgb(0, 0, 0);
  font-size: 16px;
}